*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
}

.navContainer{
    width: 100vw;

    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
}

#navlist{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navlogo{
    font-size: 2.5rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}

#navitems{
    display: flex;
    gap: 20px;
}

.footerBox{
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 30px;
}

.footerBox p{
    color: azure;
    font-size: 1.5rem;
}

.contentBox{
    width: 60%;
    margin: auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 2rem;
    box-shadow: 0px 0px 30px black ;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.6s linear 0s;
}

.rightBox img{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.2rem;
}

.recipeBox{
    font-size: 1.2rem;    
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: azure;
    font-size: 1.2rem;
}